{% extends "base.html" %}

{% block title %} Log in page{% endblock %}

{% block style %}


    <style type="text/css">
    .register {
    color: green;
    width: 200px;
    margin: 20px auto;
    padding: 5px;
    padding-right: 20px;
    }

    .form {
    margin: 50px 0px;
    width: 370px;
    }

    .loginform {
    text-align: center;
    font-size: 18px;
    background:#f8f7f2;
    height: 250px;
    width: 370px;
    border: 1px solid #d1d5d8;
    border-bottom: 10px solid #009933;
    margin: 20% auto;
    }

    label {
    margin: 7px;
    }

    p.error{
    background-color: #CC0000;
    color: white;
    display: block;
    font-size: 10px;
    margin: 0 0 3px;
    padding: 4px 5px;

    }
    input{
    margin: 5px 5px 5px 5px;
    }

    input.b1 {
    margin: 10px;
    width: 70px;
    font-size: 16px
    }
    </style>
 {% endblock %}

{% block content %}


<div class="loginform">
<div class="form">
<form action="" method="post">
    {% csrf_token %}
    {% if form.errors %}

        <p class="error">Wrong username or password</p>

    {% endif %}
    <label for="username">Username</label>
    <input type="text" name="username" value="" id="username">
    <br>
    <label for="password">Password</label>
    <input type="password" name="password" value="" id="password">
    <br>
    <input type="submit" class="b1" value='Enter'/>
    <input type="hidden" name="next" value="/"/>
</form>

    <div class="register">
        Have no account? <a href="/register/">Register!</a>
    </div>
</div>
</div>

{% endblock %}