<!DOCTYPE html>
<html>
<head>
    <title>Login Page</title>
</head>
<body>
<h1>Log in</h1>
{% if form.errors %}
    <p style="color: red;">
        Please change wrong fields {{ form.errors }}.
    </p>
{% endif %}

<form action="" method='post'>
    <table>
        {{  form.as_table }}
    </table>
    <input type="submit" value='Send'>

</body>
<style type="text/css">
    ul.errorlist {
        margin: 0;
        padding: 0;
    }
    .errorlist li {
        background-color: crimson;
        color: white;
        display: block;
        font-size: 14px;
        margin: 0 0 3px;
        padding: 4px 5px;
    }
</style>

</html>